<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ceyraud.com</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="profile.png">
</head>
<body>
    <div class="outer">
        <div class="empty-space"></div> <!-- Empty space on the left -->
        <div class="profile">
            <%- profileContent %>
        </div>
        <div class="main-content">
            <!--Fill with main-content-->
            <%- contentContent %>
        </div>
        <div class="empty-space"></div> <!-- Empty space on the right -->
    </div>
</body>
</html>
