<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Côme Eyraud - Portfolio</title>
    <meta name="description" content="Explore the portfolio of Côme Eyraud, a Telecom Paris student and part-time software engineer at Dassault Systèmes.">
    <meta name="keywords" content="Côme Eyraud,Côme,Eyraud,comeyrd, portfolio, software engineer, Telecom Paris, Dassault Systèmes, projects, skills, engineering">
    <meta name="author" content="Côme Eyraud">
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Côme Eyraud - Portfolio">
    <meta property="og:description" content="Explore the portfolio of Côme Eyraud, a Telecom Paris student and part-time software engineer at Dassault Systèmes.">
    <meta property="og:image" content="/profile.png">
    <meta property="og:url" content="https://ceyraud.com">
    <meta property="og:type" content="website">
    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Côme Eyraud - Portfolio">
    <meta name="twitter:description" content="Explore the portfolio of Côme Eyraud, a Telecom Paris student and part-time software engineer at Dassault Systèmes.">
    <meta name="twitter:image" content="/profile.png">
    <!-- Canonical URL -->
    <link rel="canonical" href="https://ceyraud.com">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="profile.png">
</head>
<body>
    <div class="outer">
        <div class="empty-space"></div> <!-- Empty space on the left -->
        <div class="profile">
            <%- profileContent %>
        </div>
        <div class="main-content">
            <!--Fill with main-content-->
            <%- contentContent %>
        </div>
        <div class="empty-space"></div> <!-- Empty space on the right -->
    </div>
</body>
</html>
