body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.outer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}

.profile {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.main-content {
    flex: 4;
    /* Adjust this value to use the space of the two instances */
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.empty-space {
    flex: 1;
}

/* Style for links */
a {
    color: #007bff;
    /* Link color */
    text-decoration: none;
    /* Remove underline */
    transition: color 0.3s;
    /* Smooth color transition */
}

a:hover {
    color: #0056b3;
    /* Change color on hover */
}